<%- include('partials/header.ejs'); %>

<div class="stats-banner">
  <span id="player-name"><%= player.name %></span>

  <span id="player-combat-style">Melee</span>

  <span class="player-hp">
    <img src="/icons/main/hp.png" alt="HP">
    <span><%= hp %>/<%= player.hp %></span>
  </span>

  <span class="player-stats">
    <span class="pane atk-pane">
      <span class="lvl">
        <span id="atk-lvl"><%= player.attackLevel %></span>
        <img src="/icons/main/atk.png" alt="Attack">
      </span>
      <span class="stats">
        <span class="stat">
          <img src="/icons/main/stab.png" alt="Stab Attack Bonus">
          <span><%= weapon.stabAttack + shield.stabAttack >= 0 ? '+' : ''%><%= weapon.stabAttack + shield.stabAttack %></span>
        </span>
        <span class="stat">
          <img src="/icons/main/slash.png" alt="Slash Attack Bonus">
          <span><%= weapon.slashAttack + shield.slashAttack >= 0 ? '+' : ''%><%= weapon.slashAttack + shield.slashAttack %></span>
        </span>
        <span class="stat">
          <img src="/icons/main/crush.png" alt="Crush Attack Bonus">
          <span><%= weapon.crushAttack + shield.crushAttack >= 0 ? '+' : ''%><%= weapon.crushAttack + shield.crushAttack %></span>
        </span>
      </span>
    </span>

    <span class="pane def-pane">
      <span class="lvl">
        <span id="def-lvl"><%= player.defenceLevel %></span>
        <img src="/icons/main/def.png" alt="Defence">
      </span>
      <span class="stats">
        <span class="stat">
          <img src="/icons/main/stab.png" alt="Stab Defence Bonus">
          <span><%= weapon.stabDefence + shield.stabDefence >= 0 ? '+' : ''%><%= weapon.stabDefence + shield.stabDefence %></span>
        </span>
        <span class="stat">
          <img src="/icons/main/slash.png" alt="Slash Defence Bonus">
          <span><%= weapon.slashDefence + shield.slashDefence >= 0 ? '+' : ''%><%= weapon.slashDefence + shield.slashDefence %></span>
        </span>
        <span class="stat">
          <img src="/icons/main/crush.png" alt="Crush Defence Bonus">
          <span><%= weapon.crushDefence + shield.crushDefence >= 0 ? '+' : ''%><%= weapon.crushDefence + shield.crushDefence %></span>
        </span>
      </span>
    </span>

    <span class="pane str-pane">
      <span class="lvl">
        <span id="str-lvl"><%= player.strengthLevel %></span>
        <img src="/icons/main/str.png" alt="Strength">
      </span>
      <span class="stats">
        <span class="stat">
          <span><%= weapon.strengthBonus + shield.strengthBonus >= 0 ? '+' : ''%><%= weapon.strengthBonus + shield.strengthBonus %></span>
        </span>
      </span>
    </span>
  </span>
</div>

<div class="game-container">
  <div class="game-area">
    <div class="player-container sprite-container highlight">
      <div class="player">
        <div class="player-equipment-row">
          <div class="player-equipment">
            <span id="weapon"><%= weapon.name %></span>
            <img src="/icons/weapons/<%= weapon.icon %>" alt="<%= weapon.name %>">
          </div>
          <div class="player-equipment">
            <span id="shield"><%= shield.name %></span>
            <img src="/icons/shields/<%= shield.icon %>" alt="<%= shield.name %>">
          </div>
        </div>
        
        <div class="player-image sprite-image">
          <img src="/icons/main/player.png" alt="<%= player.name %>">
        </div>
      </div>

      <div class="hp-bar">
         <div class="hp-bar-fill" style="width: calc(<%= hp %> / <%= player.hp %> * 100%)"></div>
         <span id="player-hp"><%= hp %>/<%= player.hp %></span>
      </div>

      <div class="weapon-stat-row">
        <span class="weapon-stat">
          <img src="/icons/main/speed.png" alt="Attack Speed">
          <span id="weapon-speed"><%= weapon.speed %></span>
        </span>
        <span class="weapon-stat">
          <img src="/icons/main/hitsplat.png" alt="Max Hit">
          <span><%= maxHit %></span>
        </span>
      </div>

      <div class="player-hitsplat-container"></div>
    </div>

    <div class="enemies-container">
      <% enemies.forEach(function(enemyObj) { %>
        <div class="enemy-container sprite-container" data-enemy-id="<%= enemyObj.enemy.id %>">
          <div class="enemy">
            <div class="enemy-info">
              <span><%= enemyObj.enemy.name %> (Level - <%= enemyObj.enemy.level %>)</span>
            </div>

            <div class="enemy-image sprite-image">
              <img src="<%= enemyObj.enemy.image %>" alt="<%= enemyObj.enemy.name %>">
            </div>
          </div>

          <div class="enemy-hp-bar">
            <div class="hp-bar-fill" style="width: calc(<%= enemyObj.hp %> / <%= enemyObj.enemy.hp %> * 100%);"></div>
            <span class="enemy-hp"><%= enemyObj.hp %>/<%= enemyObj.enemy.hp %></span>
          </div>

          <div class="enemy-stat-row">
            <span class="enemy-stat">
              <img src="/icons/main/essence.png" alt="Enemy cooldown">
              <span class="enemy-cooldown"><%= enemyObj.cooldown %></span>
            </span>
            <span class="enemy-stat">
              <img src="/icons/main/<%= enemyObj.enemy.attackType %>.png" alt="<%= capitalize(enemyObj.enemy.attackType) %>">
            </span>
            <span class="enemy-stat">
              <img src="/icons/main/speed.png" alt="Attack Speed">
              <span><%= enemyObj.enemy.speed %></span>
            </span>
            <span class="enemy-stat">
              <img src="/icons/main/hitsplat.png" alt="Max Hit">
              <span><%= enemyObj.maxHit %></span>
            </span>
          </div>

          <div class="enemy-hitsplat-container"></div>
        </div>
      <% }) %>
    </div>
  </div>
</div>

<div class="hand-area">
  <div class="deck-section">
    <div class="cooldown-info">
      <span id="player-cooldown"><%= cooldown %></span>
    </div>
    <div class="deck-info">
      <img src="/icons/main/melee-deck.png" alt="Deck">
      <span class="deck-count"><%= cards.deck.length %></span>
    </div>
  </div>

  <div class="draw-card">
    <button id="draw-card-button" class="draw-card-button">Draw a Card</button>
  </div>
  
  <div class="hand-cards">
    <% cards.hand.forEach(function(card) { %>
      <div class="card-container">
        <div class="card" data-card-id="<%= card.id %>">
          <div class="card-cost"><%= card.costModifier + weapon.speed %></div>
          <div class="card-name"><%= card.name %></div>
          <div class="card-image">
            <img src="<%= card.image %>" alt="<%= card.name %>">
          </div>
          <div class="card-type">
            <%= capitalize(card.type) %>
            <% if (card.type === 'attack') { %>
              <div><%= capitalize(card.weaponStyle) %> <%= capitalize(card.attackType) %></div>
            <% } %>
          </div>
          <div class="card-text"><%= card.text %></div>
        </div>
      </div>
    <% }) %>
  </div>
  
  <div class="discard-section">
    <div class="end-turn">
      <button class="end-turn-button">End Turn</button>
    </div>
    <div class="discard-info">
      <img src="/icons/main/discard.png" alt="Discard Pile">
      <span class="discard-count"><%= cards.discard.length %></span>
    </div>
  </div>
</div>



<script src="/js/game.js"></script>
<%- include('partials/footer.ejs'); %>